<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="path" value="C:\tmp\PA_Automation\App_Data\" />
    <add key="source" value="HAAD"/>
    
    <!--<add key="source" value = "HAAD" value = "ALL"  value = "DHPO"/>-->
    <!--<add key="POSTOFFICE" value = "HAAD" value = "DHPO" value = "ALL" />-->
    <!--<add key="POSTOFFICE" value="HAAD"/>-->
    <!--<TimeFormat: 00:00:00 -->
    <!--<add key="HAADPeakHourStart" value="00:00:00"/> -->
    <!--<add key="HAADPeakHourStop" value="06:00:00"/>-->

    <add key="HAADPeakHourStart" value="00:00:00"/>
    <add key="HAADPeakHourStop" value="23:59:00"/>
    
    <add key="DownloadFiles" value ="true"/>
    <add key="DownloadLocation" value ="C:\tmp\PA_Automation\Dump\"/>
    <add key="TimeTolerance" value ="30"/>
    <add key="NumberofDaystoAdd" value ="100"/>
    <add key="MultiThreaded" value ="true"/>
    
    <!--<TimeFormat: 00:00:00 -->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\tmp\PA_Automation\PA_Automation_Executionlog.txt" />
      <param name="AppendToFile" value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}" />
        <!--<conversionPattern value="%newline%newline%date %newline%logger                         [%property{NDC}] %newline&gt;&gt; %message%newline" />-->
        <conversionPattern value="%date:  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="ValidateTransactionsSoap" maxBufferPoolSize="2147483647"
                          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
                          <security mode="Transport" />
                    </binding>
                    <binding name="ValidateTransactionsSoap1" />
                    <binding name="WebservicesSoap">
                          <security mode="Transport" />
                    </binding>
                    <!--<binding name="WebservicesSoap1" />-->
                    <binding name="WebservicesSoap2"  maxBufferPoolSize="2147483647"
                          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
                          <security mode="Transport" />
                    </binding>
                    <!--<binding name="WebservicesSoap3" />-->
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="https://dhpo.eclaimlink.ae/ValidateTransactions.asmx"
                    binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap"
                    contract="dhpo_ValidateTransactions.ValidateTransactionsSoap"
                    name="ValidateTransactionsSoap" />
              <endpoint address="https://shafafiya.doh.gov.ae/v2/webservices.asmx"
                    binding="basicHttpBinding" bindingConfiguration="WebservicesSoap2"
                    contract="haad_ValidateTransactions.WebservicesSoap" name="WebservicesSoap" />
        </client>
    </system.serviceModel>
</configuration>